* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*COmponenet 1*/
nav {
    width: auto;
    height: 89px;
    background-color: #222533;
}

.logo {
    margin-left: 375px;
    width: 40px;
    height: 45px;
    margin-top: 27px;
}

.header {
    font-size: 38px;
    line-height: 15px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Lato";
    margin-left: 422px;
    margin-top: -32px;
}

.thin {
    font-weight: 300;
    margin-left: 6px;
}

.navbaritems {

    margin-left: 616px;
    word-spacing: 45px;
    margin-top: -19px;

}

.navbaritems a {
    font-size: 15px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: none;
}

#search {
    font-weight: 900;
    font-size: 23px;
    width: 25px;
    float: right;
    margin-right: 412px;
    margin-top: -22px;
    color: #ffffff;
}

#basket {
    font-weight: 900;
    font-size: 23px;
    width: 26px;
    float: right;
    margin-right: -76px;
    margin-top: -22px;
    color: #ffffff;
}

/*component 2*/
.section-1 {
    width: auto;
    height: 991px;
    background-color: #1a1c27;
}

.section-1 h1 {
    font-size: 89px;
    line-height: 60px;
    color: #03fbca;
    font-family: "Lato";
    font-weight: 900;
    text-align: center;
    margin-left: -23px;
    letter-spacing: 2px;
    position: relative;
    top: 51px;
    left: 19px;
    word-spacing: -2px;
    transform: translate(0.1%, 572%);
}

.section-1 p {
    font-size: 24px;
    line-height: 60px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    transform: translate(1%, 675%);
    word-spacing: 5px;
    margin-left: -39px;
    margin-top: 3px;
}

.leftside {
    border: 1px solid white;
    background-color: #1a1c27;
    width: 51px;
    height: 51px;
    margin-top: 28px;
    position: relative;
    left: 47px;
    top: 276px;
}

#leftarrow {
    font-size: 20px;
    font-weight: 900;
    position: relative;
    top: 15px;
    left: 14px;
    color: gray;
}

.rightside {
    border: 1px solid white;
    background-color: #1a1c27;
    width: 50px;
    height: 49px;
    margin-top: 28px;
    position: relative;
    left: -34px;
    top: 198px;
    float: right;
}

#rightarrow {
    font-size: 20px;
    font-weight: 900;
    position: relative;
    top: 14px;
    left: 14px;
    color: gray;
}

.rightside:hover, .leftside:hover {
    background-color: #03fbca;
}

.downside {
    position: relative;
    top: 740px;
    left: 948px;
    background-color: transparent;
}

#downarrow {
    font-size: 28px;
    color: white;
}

/*components 3*/
.section-2 {
    width: 1744px;
    height: 592px;
}

.section-2 img {
    position: relative;
    left: 350px;
    top: 86px;
    height: 407px;
}

.about h2 {
    width: 970px;
    height: 121px;
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 40px;
    color: #2c3e50;
    font-family: "Lato";
    font-weight: 900;
    position: relative;
    float: right;
    left: 201px;
    bottom: 320px;
    letter-spacing: 5px;
}

.about p {
    width: 569px;
    height: 499px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #a1b1bc;
    font-family: "Lato";
    font-weight: 400;
    float: right;
   
}

.meet {
    width: 213px;
    height: 38px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #2c3e50;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 32px;
    color: #2c3e50;
    font-family: "Lato";
    font-weight: 700;
    position: relative;
    float: right;
    right: 559px;
    top: 485px;
}

/*components 4*/
.section-3 {
    width: 1914px;
    height: 327px;
    display: flex;
}

.section-3 div {
    width: 640px;
    height: 357px;
    margin-top: -756px;
}

.smallbox h4 {
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 19px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 900;
    position: relative;
    top: 75px;
    left: 80px;
}

.smallbox p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 900;
    position: relative;
    top: 85px;
    left: 78px;
    word-spacing: -3px;
    width: 498px;
}

.smallbox button {
    width: 168px;
    height: 48px;
    border-radius: 5px;
    background-color: inherit;
    color: white;
    border: 2px solid #ffffff;
    position: relative;
    line-height: 22px;
    word-spacing: 8px;
    top: 109px;
    left: 79px;
}

/*component5*/
.section-4 {
    width: 1744px;
    height: 388px;
}

.section-4 img {
    z-index: -1;
    width: 545px;
    position: relative;
    left: 58.8%;
    bottom: 1%;
    height: 269%;
    transform: translateY(-38.1%);

}

.smallbox-1 h4 {
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 40px;
    color: #2c3e50;
    font-family: "Lato";
    font-weight: 900;
    margin-top: -81.9%;
    margin-left: 21.4%;
}

.smallbox-1 p {
    width: 589px;
    font-size: 13px;
    font-family: "Lato";
    font-weight: 400;
    position: relative;
    line-height: 23.4px;
    word-spacing: 0.2px;
    top: -11px;
    left: 373px;
    color: #A1B1BC;
    margin-top: 28px;
    letter-spacing: 1.2px;
}

/*radio buttons*/
.container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Lato";
    left: 367px;
    top: 19px;
    font-size: 14px;
    line-height: 25px;
    color: #A1B1BC;
    letter-spacing: 1px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 7px;
    left: 4px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #707070;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
   background-color: #2C3E50;;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

div .start {
    width: 181px;
    height: 38px;
    border-radius: 5px;
    border: 2px solid gray;
    position: relative;
    line-height: 34px;
    word-spacing: 4px;
    top: 49px;
    left: 339px;
    background-color: white;
    position: relative;
    top: 46px;
    left: 372px;
    font-family: "Lato";
    font-weight: bold;
    letter-spacing: 1.1px;
}

.section-5 {
    margin-top: 12.1%;
    width: 1919px;
    height: 626px;
    background-color: #1a1c27;
}

.checked {
    height: 248px;
    position: relative;
    top: 220px;
    left: 288px;
    padding-left: 156px;

}

.section-5 h4 {
    color: white;
    width: 448px;
    font-family: "Lato";
    font-weight: 400;
    line-height: 21px;
    word-spacing: 11px;
    font-size: 29px;
    position: relative;
    top: 150px;
    left: 818px;
    letter-spacing: 4px;
    word-spacing: 1px;
}

/* section6 */
.section6{
    width: 100%;
    height: 627px;
    background-color: #222533;
    position: relative;
    margin-top: -14%;
}

.section6 h1{
    font-family: 'Lato Black';
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 3px;
    color:#FFFFFF;
    padding-top: 140px;
    padding-left: 817.5px;
}

.section6 div{
    width: 110px;
    height: 110px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    border-radius: 50%;    
    display: inline-block;
    margin-top:61px;
    
}

.section6 div i{
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.35px;
    color: #2C3E50;
    text-align: center;
    padding-left: 35px;
    padding-top: 25px;
}

.section6 p{
    color:#FFFFFF;
    font-size: 39px;
    line-height: 50px;
    display: inline-block;
    padding-top: 37px;
    font-family: "Lato";
  
}

.section6_circle1{
    margin-left: 455px;
}

.section6_circle2, .section6_circle3, .section6_circle4{
    margin-left: 186px;
}

.text1{
    padding-left: 446px;
    letter-spacing: 1.6px;
}

.text2{
    padding-left: 163px;
    letter-spacing: 1.1px;
}

.text3{
    padding-left: 142px;
    letter-spacing: 0.6px;
}

.text4{
    padding-left: 171px;
    letter-spacing: -0.4px;
}

.text1::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #21C2F8;
    color: #21C2F8;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}

.text2::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #21C2F8;
    color: #21C2F8;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}

.text3::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #21C2F8;
    color: #21C2F8;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}

.text4::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #21C2F8;
    color: #21C2F8;
    display: block;
    margin: auto;
    margin-top: 7px;
}

.text5, .text6, .text7, .text8{
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size: 18px !important;
    line-height: 45px !important;
    padding-top: 0px !important;
}

.text5{
    padding-left: 462px;
    letter-spacing: 1px;

}

.text6{
    padding-left: 190px;
}

.text7{
    padding-left: 171px;
    letter-spacing: 1px;
}

.text8{
    padding-left: 160px;
    letter-spacing: 1px;
}
