* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*COmponenet 1*/
nav {
    width: auto;
    height: 89px;
    background-color: #222533;
}

.logo {
    margin-left: 375px;
    width: 40px;
    height: 45px;
    margin-top: 27px;
}

.header {
    font-size: 38px;
    line-height: 15px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Lato";
    margin-left: 422px;
    margin-top: -32px;
}

.thin {
    font-weight: 300;
    margin-left: 6px;
}

.navbaritems {

    margin-left: 618px;
    word-spacing: 45px;
    margin-top: -19px;

}

.navbaritems a {
    font-size: 15px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
}

#search {
    font-weight: 900;
    font-size: 23px;
    width: 25px;
    float: right;
    margin-right: 408px;
    margin-top: -22px;
    color: #ffffff;
}

#basket {
    font-weight: 900;
    font-size: 23px;
    width: 25px;
    float: right;
    margin-right: -71px;
    margin-top: -22px;
    color: #ffffff;
}

/*component 2*/
.section-1 {
    width: auto;
    height: 991px;
    background-color: #1a1c27;
}

.section-1 h1 {
    font-size: 84px;
    line-height: 60px;
    color: #03fbca;
    font-family: "Lato";
    font-weight: 900;
    text-align: center;
    margin-left: -23px;
    letter-spacing: 2px;
    position: relative;
    top: 51px;
    left: 12px;
    word-spacing: 6px;
    transform: translate(0.1%, 572%);
}

.section-1 p {
    font-size: 24px;
    line-height: 60px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    transform: translate(1%, 675%);
    word-spacing: 9.3px;
}

.leftside {
    border: 1px solid white;
    background-color: #1a1c27;
    width: 50px;
    height: 51px;
    margin-top: 28px;
    position: relative;
    left: 50px;
    top: 278px;
}

#leftarrow {
    font-size: 20px;
    font-weight: 900;
    position: relative;
    top: 15px;
    left: 14px;
    color: gray;
}

.rightside {
    border: 1px solid white;
    background-color: #1a1c27;
    width: 48px;
    height: 46px;
    margin-top: 28px;
    position: relative;
    left: -34px;
    top: 202px;
    float: right;
}

#rightarrow {
    font-size: 20px;
    font-weight: 900;
    position: relative;
    top: 14px;
    left: 14px;
    color: gray;
}

.rightside:hover, .leftside:hover {
    background-color: #03fbca;
}

.downside {
    position: relative;
    top: 740px;
    left: 948px;
    background-color: transparent;
}

#downarrow {
    font-size: 28px;
    color: white;
}

/*components 3*/
.section-2 {
    width: 1744px;
    height: 592px;
}

.section-2 img {
    position: relative;
    left: 350px;
    top: 86px;
    height: 407px;
}

.about h2 {
    width: 970px;
    height: 121px;
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 40px;
    color: #2c3e50;
    font-family: "Lato";
    font-weight: 900;
    position: relative;
    float: right;
    left: 201px;
    bottom: 320px;
    letter-spacing: 5px;
}

.about p {
    width: 569px;
    height: 499px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #a1b1bc;
    font-family: "Lato";
    font-weight: 400;
    float: right;
    position: relative;
    left: 769px;
    bottom: 265px;
}

.meet {
    width: 211px;
    height: 38px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #2c3e50;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 32px;
    color: #2c3e50;
    font-family: "Lato";
    font-weight: 700;
    position: relative;
    float: right;
    right: 559px;
    top: 484px;
}

/*components 4*/
.section-3 {
    width: 1914px;
    height: 327px;
    display: flex;
}

.section-3 div {
    width: 640px;
   
    height: 357px;
    margin-top: -257px;
}

.smallbox h4 {
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 19px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 900;
    position: relative;
    top: 74px;
    left: 82px;
}

.smallbox p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 19px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 900;
    position: relative;
    top: 87px;
    left: 80px;
    width: 478px;
}

.smallbox button {
    width: 166px;
    height: 46px;
    border-radius: 5px;
    background-color: inherit;
    color: white;
    border: 2px solid #ffffff;
    position: relative;
    line-height: 22px;
    word-spacing: 3px;
    top: 135px;
    left: 82px;
}

/*component5*/
.section-4 {
    width: 1744px;
    height: 388px;
}

.section-4 img {
    z-index: -1;
    width: 536px;
    position: relative;
    left: 59.6%;
    bottom: 1%;
    height: 269%;
    top: 43%;
    transform: translateY(9.5%);

}

.smallbox-1 h4 {
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 40px;
    color: #2c3e50;
    font-family: "Lato";
    font-weight: 900;
    margin-top: -53.5%;
    margin-left: 21.5%;
}

.smallbox-1 p {
    width: 448px;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 400;
    position: relative;
    line-height: 22px;
    word-spacing: 3px;
    top: 14px;
    left: 378px;

}

/*radio buttons*/
.container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Lato";
    left: 369px;
    top: 67px;
    font-size: 14px;
    line-height: 25px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

div .start {
    width: 179px;
    height: 38px;
    border-radius: 5px;
    border: 2px solid gray;
    position: relative;
    line-height: 22px;
    word-spacing: 3px;
    top: 49px;
    left: 339px;
    background-color: white;
    position: relative;
    top: 86px;
    left: 375px;
    font-family: "Lato";
}

.section-5 {
    margin-top: 12.1%;
    width: 1919px;
    height: 626px;
    background-color: #1a1c27;
}

.checked {
    height: 248px;
    position: relative;
    top: 220px;
    left: 288px;
    padding-left: 156px;

}

.section-5 h4 {
    color: white;
    width: 448px;
    font-family: "Lato";
    font-weight: 400;
    line-height: 21px;
    word-spacing: 11px;
    font-size: 29px;
    position: relative;
    top: 150px;
    left: 818px;
    letter-spacing: 4px;
    word-spacing: 1px;
}

.quantity span {
    color: white;
    padding-left: 54px;
    padding-right: 106px;
    position: relative;
    font-size: 36px;
}

.quantity  {
    color: white;
    padding-left: 55px;
    position: relative;
    top: 43.1%;
    left: 17.3%;
    letter-spacing: 1px;
}
.members span {
    color: white;
    padding-left: 55px;
    position: relative;
    top: 46.4%;
    left: 18%;
    letter-spacing: 1px;
}

.members  {
    color: white;
    padding-left: 54px;
    padding-right: 106px;
    position: relative;
    font-size: 21px;
}